
<footer class="site-footer">
	Project mantained by
	<ul class="social-media-list">
          {% if site.github_username %}
          <li>
            {% include icon-github.html username=site.github_username %}
            [sacemita](https://sacemita.github.io)
          
          {% endif %}
          {% if site.twitter_username %}
          
            {% include icon-twitter.html username=site.twitter_username %}
            [sacemita](https://twitter.com/kodiwizards)
            Hosted on GitHub Pages
          </li>
          {% endif %}
        </ul>
        <small>
        	Theme by
        	[mattgraham](https://twitter.com/michigangraham)
        	Hosted on GitHub Pages
        </small>
<footer>
